body {
    margin: 25px;
    background-color: #e9ebee;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 18px;
}
span {
    color: #0474bc;
}
.email {
    text-decoration: none;
    color: black
}
.card-container {
    margin-top: 95px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 70px 70px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.2s;
    border-radius: 7px;
    background-color: whitesmoke;
}
h2 {
    padding-left: 15px;
}
img {
    border-radius: 5px;
    height: 120px;
    width: 150px;
    padding-left: 9px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-body {
    padding: 2px 16px;
}
.footer {
    padding: 100px;
}